@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  /*primary colors*/
  --red: hsl(0, 0%, 100%);
  --blue: hsl(219, 85%, 26%);

  /*neutral colors*/
  --white: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  /*border style*/
  --border-radius: 10px;
}

html {
  background-color: var(--Very-light-grayish-blue);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

main {
  width: 700px;
  max-width: calc(100% - 40px);
  font-size: clamp(0.5em, 4vw, 1em); /* max: 16px */
  font-weight: 500;
  background-color: var(--white);
  padding: 30px 30px 0 30px;
  margin: 50px auto;
  border-radius: var(--border-radius);
}
h1 {
  display: inline;
  vertical-align: middle;
  font-weight: 800;
  font-size: clamp(1.5em, 3vw, 1.75em); /* max: 28px */
  margin: 0;
  color: var(--Very-dark-blue);
}
p {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  border-color: var(--Grayish-blue);
  padding: 15px;
}

.name,
.post,
.group {
  font-weight: 800;
  text-decoration: none;
}
.name,
.unread-toggle,
.number {
  color: var(--Very-dark-blue);
}
.number {
  display: inline;
  vertical-align: middle;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  padding: 2px 10px;
  margin-left: 7px;
}

.post,
.group {
  color: var(--Dark-grayish-blue);
}
.time {
  color: var(--Grayish-blue);
}
a:hover,
a:focus,
.unread-toggle:hover,
.unread-toggle:focus {
  color: var(--blue);
}
.private-message:hover,
.private-message:focus {
  background-color: var(--Light-grayish-blue-1);
  border-color: var(--Light-grayish-blue-1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: clamp(2.5em, 5vw, 4em) 1fr;
  gap: 10px;
  margin: 7px 0;
  padding: 12px;
  border-radius: var(--border-radius);
}
.grid-container2 {
  display: grid;
  grid-template-columns: clamp(2.5em, 5vw, 4em) 1fr 51px;
  gap: 10px;
  margin: 7px 0;
  padding: 12px;
  border-radius: var(--border-radius);
}
.item1 {
  margin: 0 auto auto auto;
}
.item2 {
  color: var(--Dark-grayish-blue);
}

.unread-toggle {
  display: inline;
  border: none;
  background-color: var(--white);
  color: var(--Dark-grayish-blue);
  cursor: pointer;
  font: inherit;
  padding: 0;
}
.unread-toggle-div {
  margin: auto 0;
}

.notification-dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: red;
  margin-left: 3px;
  vertical-align: middle;
}

img {
  width: clamp(2.5em, 5vw, 3em);
  height: auto;
}
.img-shadow:hover,
.img-shadow:focus {
  filter: drop-shadow(0 0 5px var(--Dark-grayish-blue));
}

.unread {
  background-color: var(--Very-light-grayish-blue);
}

@media (max-width: 870px) {
  body {
    margin: 0;
  }
  main {
    margin: 0;
    padding: 20px 20px 0 20px;
    width: 100%;
  }
}
